@media (max-width: 768px) {
	.bg_img {
		display: none !important;
	}
}

.bg_img {
	@apply h-full w-1/2 object-cover transition ease-in duration-200;
    transition: all 200ms ease-in 0s;
}

.login_container {
    @apply mt-3 bg-gray-100 font-vazirmatn rounded overflow-hidden container h-[90vh] shadow-lg flex flex-row justify-between place-content-center place-items-center place-self-center;
    transition: all 200ms ease-in-out 0s;
}
