.editor {
  @apply m-5 shadow-xl shadow-top-bottom !important;
  text-align: right;
  width: 65vw;
  height: auto;
}

.save_btn {
  @apply bg-bomborange fixed bottom-7 left-5 p-2 aspect-square rounded-full aspect-square flex items-center justify-center hover:bg-bombblack hover:text-bomborange transition-all duration-300 ease-in-out transform opacity-[93%] hover:opacity-100 hover:scale-105 !important;

  .save_txt {
    @apply text-bomborange invisible absolute top-[95%] font-vazirmatn  transition-all duration-300 ease-in-out transform;
  }
  &:hover {
    .save_txt {
      @apply visible text-bomborange;
    }
  }
  .save_icon {
    @apply text-white text-2xl transition-all duration-300 ease-in-out transform;
  }
  &:hover {
    .save_icon {
      @apply visible scale-105 text-bomborange;
    }
  }
}
