.cdx-block {
  @apply rtl;
}

.codex-editor--narrow .ce-toolbar__actions {
  @apply flex justify-end items-center !important;
  left: 0px !important;
}

.ce-editorjsColumns_col {
  @apply rounded-sm;
  border: 1px dashed gray !important;
}

.ce-popover__container {
  @apply w-[30vw] !important;
  max-height: 60vh !important;
}

.toggle-block__content-default {
  display: none !important;
  visibility: hidden !important;
}
