/* .search-result {
  padding: 10px 20px;
}

.search-result:hover {
  background-color: #efefef;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-name {
  color: #333;
}

.username {
  color: #666;
} */
