.results-list {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  /* border-radius: 10px; */
  /* margin-top: 1rem; */
  max-height: 300px;
  /* overflow-y: hidden; */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hides the scrollbar for other modern browsers */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
